body {
  background-color: lightblue;
}

.container {
  margin: auto;
  width: 800px;

}

input + input {
  margin: 1rem 0;
}

input {
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.text-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  padding: 1rem 5rem;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
  margin: auto;
}


.git-blue{
}
.git-button-oladele {
  background-color: #024e31;
}
  
ogunbiyi-button {
  background-color: blue;
}

.git-atoyebi {
	background-color: orange;
}
.gitButton{
	background-color: green;
  color: white;
}

.git-button {
	background-color: red;
}

.git-valentine{
  background-color: purple;
}
.git-farouq{
  background-color: pink;
}
